@font-face {
    font-family: Progression;
    src: url(progress.ttf);
}

@font-face {
    font-family: Terrasick;
    src: url(terrasick.ttf);
}

body {
  margin: 0;
  padding: 0;
}


/* Top Banner */
.top-banner > img{
  width: 100%;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.tile {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 30px;
  border: 1px solid black;
  width: 100%;
  background-color: #220003;
}

.left-image {
  margin-right: 10px;
  max-width: 45%;
  height: auto;
}

.right-text {
  align-self: flex-start;
  float: right;
  width: 60%;
  color: white;
}


.right-image {
  float: right;
  margin-left: 10px;
  max-width: 45%;
  height: auto;
  order: 2;
}

.left-text {
  align-self: flex-start;
  overflow: hidden;
  order: 1;
  flex-grow: 1;
  color: white;
}

.left-text h2 {
  margin-top: 0;
}

.left-text p {
  margin-bottom: 0;
}



/* Ability Cards Panel */
#abilityCards{
  width: 100%;
  padding: 30px;
  background-color: #220003;
}

/* Image Gallery */
* {
  box-sizing: border-box;
}

.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

/* Next and previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
.column {
  float: left;
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
.column {
  float: left;
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}


/* Footer */
footer {
  background-color: #220003;
  padding: 20px 0;
  width: 100%;
  font-size: 14px;
  color: #fff;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  float: left;
}

footer ul li {
  margin-bottom: 10px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #ddd;
  text-decoration: none;
}
  
/* Nav */
.nav-bar a{
  color:white;
  font-family: Progression;
  font-size: 35px;
}
  
.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #220003;
  z-index: 100;
}
  
li {
  float: right;
}

#socials{
  float: left;
}

li a {
  display: block;
  color: #d6e2d8;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}
  
/* Change the link color on hover */
#nav-li a:hover {
  background-color: #710003;
  text-decoration: none;
  color: #d6e2d8;
}
  
#tagline , h1 {
  font-family: Progression;
  text-align: center;
  font-size: 90px;
}

/* For the 3 ability cards */
.card-title {
  text-align:center;
  font-family: Progression;
  font-size: 30px;
}

/* Team Image */
.teamimage > img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.w-75{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width:7px !important;
  border-color:#4b0007 !important;
  background-color: #fdf5e9 !important;
}

.border-dark {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-width:7px !important;
}

.card-title2 {
  font-family: Progression;
  font-size: 30px;
}

.card-title3{
  font-family: Progression;
  font-size: 30px;
  background-color: #fdf5e9
}