@font-face {
    font-family: Progression;
    src: url('/fonts/progress.ttf');
}

@font-face {
    font-family: Terrasick;
    src: url('/fonts/Terrasick.ttf');
}

body {
  margin: 0;
  padding: 0;
}

/* Top Banner */
.top-banner > img{
  width: 100%;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Footer */
footer {
  background-color: #220003;
  padding: 20px 0;
  width: 100%;
  font-size: 14px;
  color: #fff;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  float: left;
}

footer ul li {
  margin-bottom: 10px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #ddd;
  text-decoration: none;
}
  
/* Nav */
.nav-bar a{
  color:white;
  font-family: Progression;
  font-size: 35px;
}
  
.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #220003;
  z-index: 100;
}
  
li {
  float: right;
}

#socials{
  float: left;
}

li a {
  display: block;
  color: #d6e2d8;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}
  
/* Change the link color on hover */
#nav-li a:hover {
  background-color: #710003;
  text-decoration: none;
  color: #d6e2d8;
}
  
#tagline , h1 {
  font-family: Progression;
  text-align: center;
  font-size: 90px;
}

/* For the 3 ability cards */
.card-title {
  text-align:center;
  font-family: Progression;
  font-size: 30px;
}

/* Team Image */
.teamimage > img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
