/* Fonts */
@font-face {
    font-family: Progression;
    src: url(progress.ttf);
}

@font-face {
    font-family: Terrasick;
    src: url(terrasick.ttf);
}

@font-face {
  font-family: CafeDeParisSans;
  src: url(cafedeparissans.ttf);
}

/* General */
/* Nav */
.nav-bar a{
  color:white;
  font-family: Progression;
  font-size: 40px;
  text-decoration: none;
}
  
.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #220003;
  z-index: 100;
}
  
.nav-bar li {
  float: right;
}

#socials{
  float: left;
}

#socials a:hover{
  text-decoration: none;
  color: #DECD60;
}

.nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}
  
/* Change the link color on hover */
#nav-li a:hover {
  text-decoration: none;
  color: #DECD60;
}
  
#tagline , h1 {
  font-family: Progression;
  text-align: center;
  font-size: 90px;
  color: white;
}

/* Top Banner */
.top-banner > img{
  width: 100%;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Footer */
footer {
  background-color: #220003;
  padding: 20px 0;
  padding-left: 45px;
  width: 100%;
  font-size: 14px;
  color: #fff;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  float: left;
}

footer ul li {
  margin-bottom: 10px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #ddd;
  text-decoration: none;
}

.footer-h{
  font-family: Progression;
  font-size: 40px;
}

.footer-p{
  font-family: CafeDeParisSans;
  font-size: 25px;
}

#footer-i{
  font-size: 40px;
}

#footer-socials{
  padding-left: 35px;
}

/* Home */
/* Content Tiles */
.tile {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 45px;
  border: 1px solid black;
  width: 100%;
  background-color: rgba(34, 0, 3, .7);
}

#tile-image{
  width: 100%;
  height: auto;
}

#tile-h{
  font-family: Progression;
  font-size: 40px;
  color: white;
}

#tile-p{
  font-family: CafeDeParisSans;
  font-size: 25px;
  color: white;
}

/* Ability Cards Panel */
#abilityCards{
  width: 100%;
  padding: 30px;
  background-color: #220003;
}

.card-img-top{
  transition: all 0.3s;
}

.card-img-top-left{
  transition: all 0.3s;
}

.card-img-top-right{
  transition: all 0.3s;
}

.card-img-top:hover{
  transform: scale(3);
  z-index: 2;
  transform-origin: top center;
}

.card-img-top-left:hover{
  transform: scale(3);
  z-index: 2;
  transform-origin: top left;
}

.card-img-top-right:hover{
  transform: scale(3);
  z-index: 2;
  transform-origin: top right;
}

/* For the 3 ability cards */
.card-title {
  text-align:center;
  font-family: Progression;
  font-size: 30px;
}

.card-text{
  font-family: CafeDeParisSans;
  font-size: 25px;
}

/* Image Gallery Panel */
#slideShow{
  width: 100%;
  padding: 30px;
  background-color: #220003;
}

/* Image Gallery */
.carousel-inner img {
  max-width: 800px;
  max-height: 1000px;
}

.carousel {
  margin: 0 auto;
  width: 70%;
  height: auto;
}

.carousel-control-prev-icon {
  position: absolute;
  left: -40px;
  z-index: 1; 
}

.carousel-control-next-icon {
  position: absolute;
  right: -40px;
  z-index: 1;
}

.carousel-caption h5, .carousel-caption p {
  color: #fff;
  margin: 0;
  text-align: center;
  font-family: CafeDeParisSans;
}

.carousel-caption{
  background-color: rgba(34, 0, 3, .7);
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* About */

/* Team Image */
.teamimage > img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: auto;
  animation: fadeInAnimation ease 1.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  border: 7px solid;
  border-width:10px !important;
  background-color: rgba(34, 0, 3, .7) !important;
  border-color:#4b0007 !important;
}

.w-50{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width:7px !important;
  background-color: rgba(34, 0, 3, .7) !important;
  border-color:#4b0007 !important;
  color:white;
  animation: fadeInAnimation ease 1.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.border-5 {
    margin-left: auto;
    margin-right: auto;
    border-width:7px !important;
    animation: fadeInAnimation ease 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color: rgba(34, 0, 3, .7) !important;
    border-color:#4b0007 !important;
    color:white;
    max-width: 80%;
}

#aboutimage {
  margin-top: 8px;
  margin-bottom: 8px;
}

.aboutnames {
  font-family: CafeDeParisSans;
  text-align: center;
  font-size: 25px;
}

.card-title2 {
  font-family: CafeDeParisSans;
  font-size: 40px;
}

.card-title3{
  font-family: CafeDeParisSans;
  font-size: 30px;
  background-color: #fdf5e9
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/* Scrolling Effect */
.parallax {
  position: relative;
  min-height: 100%; /* Adjust this to the desired height */
  width: 100%;
  background-repeat: no-repeat;
  background-image: url('images/concept_5.jpg');
  background-size: cover;
  background-attachment: fixed;
  padding: 0px;
}
